body {
  background-color:blue;
  background-position:center;
  margin:0px;
}
#big-bar{
  background-color:black;
  background-color:top;
  padding:10px;
  display:block;  
}
#portugal{
  color:white;
  postion:top,left;
}
  
  
